<header id="page-header">
  <div id="masthead">
    <nav>
      <p>
        <%= link_to 'Members', members_path, class: 'button' %>
        <%= link_to 'Purchases', purchases_path, class: 'button' %>
        <%= link_to 'Rooms', rooms_path, class: 'button' %>
      </p>
    </nav>
  </div>
</header>